body{
	background-color: #d9ccc7;
}


ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	letter-spacing: 2px;
	margin: 30px;
}

.localLink{
	color: #7d7d7d;
	font-weight: bold;
}
.localLink:hover{
	color: black;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

#leftSelection{
	text-align: right;
	font-family: "Nunito";
	font-size: 2vw;
	margin-left: 20vw;
}

#rightSelection{
	text-align: left;
	font-family: "Nunito";
	font-size: 2vw;
	margin-right: 20vw;
}

#johnathinTitle{
	border: solid darkgray: 0px;
	border-radius: 5px;
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 60px;
	background-image: url("assets/images/newyork.jpg");
	background-position: 50% 88%;
	background-size: cover; 
	background-repeat: no-repeat;
	padding: 20px;
	text-align: center;
	font-family: "Marcellus";
	font-size: 4vw;
	letter-spacing: 3vw;
	color: white;
	overflow: hidden;
}

.tripleImage {

    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    align-items: center;
    height: 550px;
}

.shape {
    background: url('assets/images/rainforest.jpg') no-repeat;
    background-size: 900px 500px;
    border-radius: 5px;
}

/* When picking a new image, adjust the percentages according to the image */
.tripleImageLeft {
	width: 130px;
    height: 370px;
    background-position: 33% 39%;
}
.tripleImageCenter {
	width: 160px;
    height: 470px;
    background-position: 54% 0;
}
.tripleImageRight {
	width: 130px;
    height: 370px;
    background-position: 75% 46%;
}